<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="Postcard View - Pigeon Post">
	<meta name="author" content="Pigeon Loft Pty Ltd.">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Pigeon Loft<%= yield :title %></title>
	
	<%= stylesheet_link_tag "reset", "static" %>
	<!-- <%= javascript_include_tag :defaults %> -->
	<%= csrf_meta_tag %>
</head>
<body>

<div id="background">
	<div class="left"></div>
	<div class="right"></div>
</div>

<div id="container">
	<header>
		<div id="header">
			<%= yield :header %>
		</div>
	</header>
	
	<div id="main" role="main">
		<%= yield %>
	</div>
	
	<footer>
		<div id="footer">
			<a href="">Unsubscribe</a> from PigeonPost notifications
			Pigeon Loft Pty. Ltd. &copy; 2011 All Rights Reserved
		</div>
	</footer>
</div> <!--! end of #container -->

</body>
</html>
